body{
    background-color: rgb(75, 74, 77);
}

div{
    border: 2px solid blue;
}

.columna{
    display: flex;
    flex: column;
    flex-wrap: wrap;
}

.imagen {
    height: 40px;
    width: 60px;
    margin-left: 5px;
}

.titulo {
    background-color: black;
    color: blanchedalmond;
}

.imagen.boletin {
    height: 400px;
    width: 600px;
    margin-left: 50px;

}
